@model GoogleSearchUrlRankOperation.Models.GoogleSearchResponse

@{
    ViewBag.Title = "Results";
}

<h2>Let's have a look at what we found:</h2>

@if (Model.ResponseItems != null && Model.ResponseItems.Length > 0)
{
    <div class="bd-example" data-example-id="">
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Title</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ResponseItems)
                {
                    <tr>
                        <th scope="row"> @item.Rank </th>
                        <td>@item.Title</td>
                        <td>@item.Link</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-danger fade in">
        <strong>0 results</strong> Unfortunately, no results were found based on your search criterium.
    </div>
}
