@{
    ViewBag.Title = "About";
    ViewBag.Message = "Just a bit a bit of information around this application: ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>App designed and delivered by: Ahmed Alameddine.</p>
<p></p>
<p>Proudly delived for Infotrack!</p>
<p></p>
<p>Delivered on the: 2nd August, 2016</p>
